body {
  margin: 0;
  background-color: rgb(191, 223, 223);
  /* background-color: liner-gradient(to right bottom, rgb(19, 27, 35),lightblue); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: darkcyan;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 85%;
  max-width: 450px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
  background: rgba(255, 255, 255, 0.3);

  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.temp-container {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  /* display: flexbox; */
}

.input {
  width: 220px;
  font-family: monospace;
  padding: 5px;
  float: right;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color: darkgreen;
  font-size: 18px;
}
.input::placeholder {
  color: darkgrey;
}
